.root {
	margin: 0;

	color: var(--c-black-20);

	font-weight: 400;
	font-style: normal;
}

.small {
	font-size: 14px;
	line-height: 21px;
}

.default {
	font-size: 16px;
	line-height: 28px;
}

.large {
	font-size: 18px;
	line-height: 32px;
}
