.header {
	padding: 4px 15px;

	border-radius: 5px;
	background-color: #E5F4FF;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.contentTop {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.contentTopLeft {
	display: flex;
	gap: 5px;
}

.footer {
	display: flex;
	justify-content: space-between;
}
