.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contentTop {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.contentTopLeft {
  display: flex;
  gap: 5px;
}
