.root {
  width: 100%;

  /* margin для теста */
  max-width: 350px;
  margin-top: 40px;

  border: 1px solid var(--c-border);
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 10px;
}
